modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ALLOWED_ORIGINS = ""
LOG_LEVEL = "info"
NODE_ENV = "development"
JWT_SECRET = "faae4aab80cb28341651e6f47ac149ed393727ddc09bd534ccf4926f2e1013cb76515ef808193a463041cb2ca82837b7"

[objectStorage]
defaultBucketID = "replit-objstore-89a27f97-efed-43a3-a959-1576cb0184d3"
